<%= stylesheet_link_tag    "style.css", :media => "all" %>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
			<%= image_tag('Logo_Trikot.jpg' , :size => '300x130')%>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#">Homepage</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content">
				<div align="center"><%= image_tag('tillFrontPage.jpg', :size =>'600x600') %></div>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div class="post">
		
			<div class="entry">
				
		</div>
	</div>
	<!-- end #page --> 
	<div id="featured-content">
		<div id="column1">
			
		</div>
		<div id="column2">
		
		
		</div>
		<div id="column3">
		
			<p class="button"><a href="#">Read More</a></p>
		</div>
	</div>
</div>
<div id="footer-content-wrapper">
	<div id="footer-content">
		<div id="fbox1">
			
		</div>
		<div id="fbox2">
			
				
		</div>
		<div id="fbox3">
		
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2013 Augustinc.com. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a></p>
	<p>Thomas Kleist</a>
</div>
</body>